<h1>Cart</h1>

  <table class="table table-striped">
    <tr>
      <th>Tunes</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    {{#each items}}
    <tr>
      <td>{{ product.title }} by {{ product.artist }}</td>
      <td>{{ quantity }}<button {{ action "more" this}} >+</button><button {{ action "less" this}} >-</button></td>
      <td class="item-subtotal">{{ format-price this.product.price quantity }}</td>
    </tr>
    {{/each}}
    <tr>
      <th>Total</th>
      <th>Blank</th>
      <th>13.90</th>
    </tr>
  </table>
  
