<div style="margin: 0 auto;">
  <table class="table">
    <th><h1>Confirmation Page</h1></th>
    <tr>
      <td><h4>Name: {{first_name}} {{last_name}}</h4></td>
    </tr>
    <tr>
      <td><h4>Email: {{email}}</h4></td>
    </tr>
    <tr>
      <td><h4>Credit Card Number: {{credit_card}}</h4></td>
    </tr>
    <tr>
      <td><h4>CVV: {{cvv}}</h4></td>
    </tr>
    <tr>
      <td><h4>Credit Card Expiration Date: {{expiration_date}}</h4></td>
    </tr>
    <tr>
      <td><h4>Confirmation Number: #345H9LS02</h4></td>
    </tr>  
  </table>
</div>