<div style="width:40%; margin: 0 auto;">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="title">Song Title:</label>
        {{input type="text" value=title class="form-control"}}
      </div>

      <div class="form-group">
        <label for="artist">Artist:</label>
        {{input type="text" value=artist class="form-control"}}
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        {{input type="text" value=price class="form-control"}}
      </div>

      <div class="form-group">
        <label for="image">Image:</label>
        {{input type="text" value=image class="form-control"}}
      </div>

      <div class="form-group">
        <label for="avatar">Avatar:</label>
        {{input type="text" value=avatar class="form-control"}}
      </div>
    </form>
</div>